.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.slideTop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slideTop {
  background-color: rgba(0, 0, 255, 0.219);
  text-align: center;
  height: 100vh;
}
.slideBottom {
  background-color: rgba(255, 0, 0, 0.171);
  position: relative;
}

header {
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 128, 0, 0.308);
  z-index: 10;
}